* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    max-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}
nav.nav-bar {
    overflow: hidden;
    align-items: center;
    color: #f9faf8;
    display: flex;
    gap: 18.75rem;
    height: 7rem;
    padding-top: 4rem;
    width: 100vw;

    background: linear-gradient(
        to left,
        #1f2937c9,
        #1f2937ea,
        #1f2937,
        #1f2937
    );
}

.nav-bar__hero {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    gap: 0.31rem;
    justify-content: center;
    width: 50vw;
    text-align: center;
}

.nav-bar__list {
    display: flex;
    gap: 1.25rem;
    height: 5rem;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

nav > ul > li {
    font-size: 1.38rem;
    list-style-type: none;
}

.list__item--link {
    color: #fff;
    text-decoration: none;
}

header {
    padding: 4.38rem 9.38rem;
    height: 37.5rem;
    width: 100vw;

    background: linear-gradient(
        to left,
        #1f2937c9,
        #1f2937ea,
        #1f2937,
        #1f2937
    );
}

.header__sections__container > img {
    display: flex;
    height: 0.13rem;
    justify-content: center;
    width: 100%;
}

.header__section-1 {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    height: 25rem;
    justify-content: center;
    padding: 6.25rem 9.38rem 9.38rem 9.38rem;
    width: 65%;
}

.header__title {
    font-size: 2.5rem;
    font-weight: bolder;
}

.header__section-1__paragraph {
    font-size: 1.13rem;
}

.header__section-1__button {
    background-image: linear-gradient(to left, #94c746, #7fac3c);
    border: 0;
    border-radius: 0.31rem;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.253);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 3.13rem;
    padding: 0.83rem;
    width: 12.9rem;
}

.header__section-2 {
    display: flex;
    justify-content: center;
    width: 50%;
}

.header__section-2--img {
    height: 25rem;
    width: 37.5rem;
}

.main__sections__container {
    align-items: center;
    background: linear-gradient(to left, #1f293738, #f6ffe84f, #1f293738);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.main__section-1 {
    align-items: center;
    display: flex;
    height: 6.25rem;
    justify-content: center;
    padding: 6.25rem 0px 3.75rem 0px;
    width: 100%;
}

.main__section-1 > h2 {
    animation: cursor 0.8s step-end infinite, typing 8s steps(35, end) infinite;
    border-right: 0.63rem solid #94c746;
    color: #1f2937c5;
    font-family: monospace;
    font-size: 2.19rem;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes cursor {
    50% {
        border-right-color: transparent;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }

    30% {
        width: 45%;
    }
    70% {
        width: 45%;
    }

    100% {
        width: 0;
    }
}

.main__section-2 {
    align-items: center;
    display: flex;
    gap: 3.13rem;
    height: 31.25rem;
    justify-content: center;
    width: 100%;
}

.card {
    align-items: center;
    background: #ffffff28;
    border-radius: 0.31rem;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.37);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    height: 18.75rem;
    justify-content: center;
    overflow: hidden;
    padding: 5rem 0.63rem 3.13rem 0.63rem;
    transition: transform 0.8s ease-in-out;
    width: 18.75rem;
}

.card-img {
    align-self: center;
    border: 2px solid #c0c0c0;
    border-radius: 5%;
    box-shadow: 5px 10px 10px #1f2937;
    max-height: 9.38rem;
    max-width: 11.88rem;
}
.card-header {
    border-left: 0.13rem solid #1f293759;
    color: #1f2937;
    font-size: 0.81rem;
    max-height: 6.25rem;
    padding: 0 1rem;
    text-align: justify;
}

.card-p {
    display: none;
    font-size: 14px;
    max-height: 17.5rem;
    max-width: 21.88rem;
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: justify;
}

.card:hover {
    transform: scale(1.1);
    background: linear-gradient(
        to bottom,
        #1f293723,
        #ffffff28,
        #ffffff28,
        #ffffff28
    );
}

.card:hover .card-p {
    animation: fadeIn 1s ease-in forwards;
    display: flex;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.4;
    }

    65% {
        opacity: 0.6;
    }

    85% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

.section-quote {
    align-items: center;
    background-color: #e5e7eb;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.295);
    display: flex;
    flex-direction: column;
    height: 25rem;
    padding: 6.25rem;
    width: 100vw;
}

.quote {
    color: #1f2937;
    font-size: 2.25rem;
    font-weight: lighter;
    width: 50rem;
}

.quote-author {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 3.75rem;
    text-align: right;
    width: 50rem;
}

footer {
    align-items: center;
    background: linear-gradient(to left, #1f293738, #f6ffe84f, #1f293738);
    background-color: #f9faf8;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.295);
    display: flex;
    height: 21.88rem;
    justify-content: center;
    width: 100vw;
}

.footer__container {
    align-items: center;
    background-color: #94c746;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.295);
    color: #f9faf8;
    display: flex;
    gap: 12.5rem;
    height: 10rem;
    justify-content: center;
    width: 87.5rem;
}

.footer__container > a > button {
    background-color: #94c746;
    border: 2px solid #fff;
    border-radius: 0.63rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.192);
    color: #f9faf8;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.63rem;
    width: 11.25rem;
}

.footer__itens {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.footer__itens > p {
    font-size: 0.94rem;
    margin-top: 0.63rem;
}
