* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}
nav.nav-bar {
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    height: 100px;
    padding-top: 80px;
    justify-content: space-between;
    width: 100vw;
}

.nav-bar__hero {
    align-items: center;
    display: flex;
    font-size: 24px;
    gap: 5px;
    justify-content: center;
    width: 50vw;
}

.nav-bar__list {
    height: 80px;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 50vw;
}

nav > ul > li {
    font-size: 22px;
    list-style-type: none;
}

.list__item--link {
    color: #f9faf89d;
    text-decoration: none;
}

header {
    background-color: #1f2937;
    padding: 70px 150px;
    width: 100vw;
}

.header__sections__container {
    border-bottom: 1px solid #94c746;
    display: flex;
    height: 400px;
    justify-content: center;
    width: 100%;
}

.header__section-1 {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    padding: 100px 150px 150px 150px;
    width: 50%;
}

.header__title {
    font-size: 40px;
    font-weight: bolder;
}

.header__section-1__paragraph {
    font-size: 18px;
}

.header__section-1__button {
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.253);
    background-color: #3882f6;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    margin-top: 50px;
    padding: 10px;
    width: 100px;
}

.header__section-2 {
    display: flex;
    justify-content: center;
    width: 50%;
}

.header__section-2--img {
    height: 400px;
    width: 600px;
}

.main__sections__container {
    background-color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.main__section-1 {
    color: #1f2937;
    font-size: 25px;
    font-weight: bolder;
    padding: 60px 0px 60px 0px;
}

.main__section-2 {
    display: flex;
    height: 430px;
    justify-content: space-between;
    width: 1300px;
}

.card {
    background-color: #1f2937;
    border: 4px solid #94c746;
    border-radius: 10px;
    display: flex;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.212);
    flex-direction: column;
    height: 325px;
    width: 300px;
}

.card > img {
    align-self: center;
    height: 133px;
    margin-top: 15px;
    width: 200px;
}
.card > p {
    color: #f9faf8;
    font-size: 14px;
    margin-top: 20px;
    padding: 20px;
    text-align: justify;
}

.section-quote {
    padding: 100px;
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
}

.quote {
    font-weight: lighter;
    width: 800px;
    margin-right: -30px;
    font-size: 36px;
    color: #1f2937;
}

.quote-author {
    margin-top: 60px;
    width: 800px;
    text-align: right;
    /* align-self: flex-end; */
    font-size: 20px;
    font-weight: bold;
}

footer {
    display: flex;
    background-color: #f9faf8;
    width: 100vw;
    height: 350px;
    align-items: center;
    justify-content: center;
}

.footer__container {
    color: #f9faf8;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.171);
    border-radius: 10px;
    background-color: #3882f6;
    width: 1400px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__container > h3 {
    margin-left: -350px;
    align-self: center;
}

.footer__itens {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.footer__itens > p {
    margin-top: 10px;
    font-size: 15px;
}

.footer__itens > button {
    font-size: 20px;
    margin-top: -15px;
    font-weight: bold;
    width: 150px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid white;
}
