* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    max-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 33.13rem;
    padding: 3.10rem 0rem;
    width: 100vw;

    background: linear-gradient(
        to left,
        #1f2937c9,
        #1f2937ea,
        #1f2937,
        #1f2937
    );
}

.nav-bar {
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    height: 5.25rem;
    width: 100%;
}

.nav-bar__hero {
    align-items: center;
    display: flex;
    font-size: 1.4rem;
    gap: 0.23rem;
    justify-content: center;
    text-align: center;
    width: 50vw;
}

.nav-bar__list {
    align-items: center;
    display: flex;
    gap: 1rem;
    height: 5rem;
    justify-content: center;
    width: 50vw;
}

nav > ul > li {
    font-size: 1.3rem;
    list-style-type: none;
}

.list__item--link {
    color: #fff;
    text-decoration: none;
}

.header__sections__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 68%;
}

.header__sections__container > img {
    display: flex;
    height: 0.1rem;
    align-items: center;
    justify-content: center;
    width: 120%;
}

.header__section-1 {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    height: 18.75rem;
    align-items: flex-start;
    justify-content: center;
    padding: 7.04rem 0rem;
    width: 100%;
}

.header__title {
    font-size: 1.7rem;
    font-weight: bolder;
    padding-bottom: 0.7rem;
}

.header__section-1__paragraph {
    font-size: 1rem;
    text-align: justify;
}

.break-line {
    display: block;
}

.header__section-1__button {
    background-image: linear-gradient(to left, #94c746, #7fac3c);
    border: 0;
    border-radius: 0.23rem;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.253);
    color: #fff;
    font-size: 0.75rem;
    font-weight: 500;
    margin-top: 2.35rem;
    padding: 0.62rem;
    width: 9.68rem;
}

.main__sections__container {
    align-items: center;
    background: linear-gradient(to left, #1f293738, #f6ffe84f, #1f293738);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.main__section-1 {
    align-items: center;
    display: flex;
    height: 4.88rem;
    justify-content: center;
    padding: 4.88rem 0rem 2.81rem 0rem;
    width: 100%;
}

.main__section-1 > h2 {
    animation: cursor 0.8s step-end infinite, typing 8s steps(35, end) infinite;
    border-right: 0.47rem solid #94c746;
    color: #1f2937c5;
    font-family: monospace;
    font-size: 1.64rem;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes cursor {
    50% {
        border-right-color: transparent;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }

    30% {
        width: 44ch;
    }
    70% {
        width: 44ch;
    }

    100% {
        width: 0;
    }
}

.main__section-2 {
    align-items: center;
    display: flex;
    gap: 2.35rem;
    height: 23.44rem;
    justify-content: center;
    width: 100%;
}

.card {
    align-items: center;
    background: #ffffff28;
    border-radius: 0.23rem;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.37);
    display: flex;
    flex-direction: column;
    gap: 0.94rem;
    height: 14.06rem;
    justify-content: center;
    overflow: hidden;
    padding: 3.75rem 0.47rem 2.35rem 0.47rem;
    transition: transform 0.8s ease-in-out;
    width: 14.06rem;
}

.card-img {
    align-self: center;
    border: 2px solid #c0c0c0;
    border-radius: 5%;
    box-shadow: 5px 10px 10px #1f2937;
    max-height: 7.04rem;
    max-width: 8.91rem;
}
.card-header {
    border-left: 0.1rem solid #1f293759;
    color: #1f2937;
    font-size: 0.61rem;
    max-height: 4.69rem;
    padding: 0 0.75rem;
    text-align: justify;
}

.card-p {
    display: none;
    font-size: 11px;
    max-height: 13.13rem;
    max-width: 16.41rem;
    padding: 0 1.13rem 1.13rem 1.13rem;
    text-align: justify;
}

.card:hover {
    transform: scale(1.1);

    background: linear-gradient(
        to bottom,
        #1f293723,
        #ffffff28,
        #ffffff28,
        #ffffff28
    );
}

.card:hover .card-p {
    animation: fadeIn 1s ease-in forwards;
    display: flex;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.4;
    }

    65% {
        opacity: 0.6;
    }

    85% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

.section-quote {
    align-items: center;
    background-color: #e5e7eb;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.295);
    display: flex;
    flex-direction: column;
    height: 18.75rem;
    padding: 4.69rem;
    width: 100vw;
}

.quote {
    color: #1f2937;
    font-size: 1.69rem;
    font-weight: lighter;
    width: 37.5rem;
}

.quote-author {
    font-size: 0.94rem;
    font-weight: bold;
    margin-top: 2.81rem;
    text-align: right;
    width: 37.5rem;
}

footer {
    align-items: center;
    background: linear-gradient(to left, #1f293738, #f6ffe84f, #1f293738);
    background-color: #f9faf8;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.295);
    display: flex;
    flex-direction: column;
    height: 20rem;
    justify-content: center;
    width: 100vw;
    position: relative;
}

.footer__container {
    align-items: center;
    background-color: #94c746;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.295);
    color: #f9faf8;
    display: flex;
    gap: 9.38rem;
    height: 7.5rem;
    justify-content: center;
    width: 65.63rem;
}

.footer__container > a > button {
    background-color: #94c746;
    border: 2px solid #fff;
    border-radius: 0.47rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.192);
    color: #f9faf8;
    font-size: 0.94rem;
    font-weight: bold;
    padding: 0.47rem;
    width: 8.44rem;
}

.footer__itens {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.footer__itens > p {
    font-size: 0.94rem;
    margin-top: 0.47rem;
}

footer .footer__copyright {
    font-size: 0.8rem;
    align-content: center;
    text-align: center;
    width: 90%;
    height: 5rem;
    color: #bbbcbd89;
    
    position: absolute;
    bottom: 0.2rem;
}
